.spinner {
  margin: 10rem auto;
  width: 7rem;
  height: 7rem;
  border: 2px solid rgba(128, 128, 128, 1); /* Серый цвет */
  border-top: 2px solid rgba(180, 56, 122, 1); /* Розовый цвет */
  border-radius: 50%;
  animation: spiner 1s linear infinite;
}

@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
