$black: rgba(28, 28, 30, 1);
$gray: rgba(45, 55, 72, 0.7);
$white: rgba(255, 255, 255, 1);
$orange: rgba(178, 163, 95, 1);
$light-blue: rgba(119, 150, 192, 1);
$blue: rgba(0, 60, 255, 1);
$red: rgba(255, 86, 49, 1);
$violet: rgba(91, 53, 213, 1);

$transition-duration: 0.5s ease;
$line-height: 23.58px;
